@charset "UTF-8";
/**
* IMPORTS
* Select the ones you need
*/
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/** 1. Set default font family to sans-serif. 2. Prevent iOS text size adjust after orientation change, without disabling user zoom. */
html { font-family: sans-serif; /* 1 */ -ms-text-size-adjust: 100%; /* 2 */ -webkit-text-size-adjust: 100%; /* 2 */ }

/** Remove default margin. */
body { margin: 0; }

/* HTML5 display definitions ========================================================================== */
/** Correct `block` display not defined for any HTML5 element in IE 8/9. Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox. Correct `block` display not defined for `main` in IE 11. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

/** 1. Correct `inline-block` display not defined in IE 8/9. 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera. */
audio, canvas, progress, video { display: inline-block; /* 1 */ vertical-align: baseline; /* 2 */ }

/** Prevent modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. */
audio:not([controls]) { display: none; height: 0; }

/** Address `[hidden]` styling not present in IE 8/9/10. Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22. */
[hidden], template { display: none; }

/* Links ========================================================================== */
/** Remove the gray background color from active links in IE 10. */
a { background: transparent; }

/** Improve readability when focused and also mouse hovered in all browsers. */
a:active, a:hover { outline: 0; }

/* Text-level semantics ========================================================================== */
/** Address styling not present in IE 8/9/10/11, Safari, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/** Address style set to `bolder` in Firefox 4+, Safari, and Chrome. */
b, strong { font-weight: bold; }

/** Address styling not present in Safari and Chrome. */
dfn { font-style: italic; }

/** Address variable `h1` font-size and margin within `section` and `article` contexts in Firefox 4+, Safari, and Chrome. */
h1 { font-size: 2em; margin: 0.67em 0; }

/** Address styling not present in IE 8/9. */
mark { background: #ff0; color: #000; }

/** Address inconsistent and variable font size in all browsers. */
small { font-size: 80%; }

/** Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

/* Embedded content ========================================================================== */
/** Remove border when inside `a` element in IE 8/9/10. */
img { border: 0; }

/** Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) { overflow: hidden; }

/* Grouping content ========================================================================== */
/** Address margin not present in IE 8/9 and Safari. */
figure { margin: 1em 40px; }

/** Address differences between Firefox and other browsers. */
hr { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; height: 0; }

/** Contain overflow in all browsers. */
pre { overflow: auto; }

/** Address odd `em`-unit font size rendering in all browsers. */
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

/* Forms ========================================================================== */
/** Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/** 1. Correct color not being inherited. Known issue: affects color of disabled elements. 2. Correct font properties not being inherited. 3. Address margins set differently in Firefox 4+, Safari, and Chrome. */
button, input, optgroup, select, textarea { color: inherit; /* 1 */ font: inherit; /* 2 */ margin: 0; /* 3 */ }

/** Address `overflow` set to `hidden` in IE 8/9/10/11. */
button { overflow: visible; }

/** Address inconsistent `text-transform` inheritance for `button` and `select`. All other form control elements do not inherit `text-transform` values. Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera. Correct `select` style inheritance in Firefox. */
button, select { text-transform: none; }

/** 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls. 2. Correct inability to style clickable `input` types in iOS. 3. Improve usability and consistency of cursor style between image-type `input` and others. */
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; /* 2 */ cursor: pointer; /* 3 */ }

/** Re-set default cursor for disabled elements. */
button[disabled], html input[disabled] { cursor: default; }

/** Remove inner padding and border in Firefox 4+. */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/** Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet. */
input { line-height: normal; }

/** It's recommended that you don't attempt to style these elements. Firefox's implementation doesn't respect box-sizing, padding, or width.  1. Address box sizing set to `content-box` in IE 8/9/10. 2. Remove excess padding in IE 8/9/10. */
input[type="checkbox"], input[type="radio"] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; /* 1 */ padding: 0; /* 2 */ }

/** Fix the cursor style for Chrome's increment/decrement buttons. For certain `font-size` values of the `input`, it causes the cursor style of the decrement button to change from `default` to `text`. */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

/** 1. Address `appearance` set to `searchfield` in Safari and Chrome. 2. Address `box-sizing` set to `border-box` in Safari and Chrome (include `-moz` to future-proof). */
input[type="search"] { -webkit-appearance: textfield; /* 1 */ -moz-box-sizing: content-box; -webkit-box-sizing: content-box; /* 2 */ box-sizing: content-box; }

/** Remove inner padding and search cancel button in Safari and Chrome on OS X. Safari (but not Chrome) clips the cancel button when the search input has padding (and `textfield` appearance). */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/** Define consistent border, margin, and padding. */
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

/** 1. Correct `color` not being inherited in IE 8/9/10/11. 2. Remove padding so people aren't caught out if they zero out fieldsets. */
legend { border: 0; /* 1 */ padding: 0; /* 2 */ }

/** Remove default vertical scrollbar in IE 8/9/10/11. */
textarea { overflow: auto; }

/** Don't inherit the `font-weight` (applied by a rule above). NOTE: the default cannot safely be changed in Chrome and Safari on OS X. */
optgroup { font-weight: bold; }

/* Tables ========================================================================== */
/** Remove most spacing between table cells. */
table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

/** @file Drupal Custom Form  This is part of the dcf library to have custom... - checkboxes - radios - selects - filefields  @author: Peter Briers @version: 0.0.2 */
/** RESET */
input, button, textarea, select { padding: 0; outline: 0; outline-offset: 0px; border: none; }
input:focus, button:focus, textarea:focus, select:focus { outline: #dcf solid 1px; }

.dcf-container { position: relative; display: inline-block; }

.dcf-input:focus + .dcf-replacement, .dcf-input:active + .dcf-replacement { outline: #dcf solid 1px; }

.dcf-select .dcf-replacement, .dcf-file .dcf-replacement { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: white; z-index: 10; cursor: pointer; }
.dcf-select .dcf-feedback, .dcf-file .dcf-feedback { display: block; padding: 0.25ex 1ex; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.dcf-select .dcf-button, .dcf-file .dcf-button { float: right; text-align: center; padding: 0.25ex 1ex; position: relative; }
.dcf-select .dcf-input, .dcf-file .dcf-input { position: relative; z-index: 20; opacity: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; cursor: pointer; }
.dcf-select .dcf-input:focus, .dcf-file .dcf-input:focus { outline: none; border: none !important; }

.dcf-select .dcf-button:before { content: '▼'; }

.form-type-radio, .form-type-checkbox { position: relative; }
.form-type-radio input, .form-type-checkbox input { left: -2000px; position: absolute; }
.form-type-radio input:focus + label:before, .form-type-checkbox input:focus + label:before { outline: #dcf solid 1px; }
.form-type-radio label, .form-type-checkbox label { padding: 0 0 0 25px; min-height: 20px; }
.form-type-radio label:before, .form-type-checkbox label:before { text-align: center; content: ''; position: absolute; left: 0; top: 0; display: block; background-color: white; width: 20px; height: 20px; line-height: 20px; }

.form-type-radio label:before { border-radius: 20px; }
.form-type-radio label.checked:before { content: '●'; }

.form-type-checkbox label:before { border-radius: 3px; }
.form-type-checkbox label.checked:before { content: '✔'; font-size: 22px; text-indent: 5px; }

/** MIXINS */
@font-face { font-family: 'Mobistar'; src: url("../fonts/mobistarregmobistar.eot"); src: url("../fonts/mobistarregmobistar.eot?iefix") format("eot"), url("../fonts/mobistarregmobistar.woff") format("woff"), url("../fonts/mobistarregmobistar.ttf") format("truetype"), url("../fonts/mobistarregmobistar.svg#mobistarregmobistar") format("svg"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Mobistar'; src: url("../fonts/mobistarmedmobistar.eot"); src: url("../fonts/mobistarmedmobistar.eot?iefix") format("eot"), url("../fonts/mobistarmedmobistar.woff") format("woff"), url("../fonts/mobistarmedmobistar.ttf") format("truetype"), url("../fonts/mobistarmedmobistar.svg#mobistarmedmobistar") format("svg"); font-weight: 700; font-style: normal; }

/** DRUPAL BOOTSTRAP !!! DO NOT MODIFY THIS FILE DIRECTLY. Please overwrite the selectors in custom.less Previously known as styleguide. basic styling. */
*, *:before, *:after { /* apply a natural box layout model to all elements */ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html { font-size: 62.5%; }

body { font-family: Helvetica, Arial, sans-serif; font-size: 1.6em; }

h1, h2, h3, h4, h5, h6 { font-family: "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }

a { color: inherit; text-decoration: none; }
a:hover { color: #333; }

img { max-width: 100%; height: auto; }

div.messages { margin: 0 0 30px; border: none; padding: 15px 0; border-radius: 4px; background-image: none; text-align: center; }

div.krumo-root { text-align: left; }

.node-readmore a, .more-link a, .field-name-node-link a { color: white; background: #19a33e; border-radius: 4px; padding: 2px 7px; margin: 0; font-size: 11px; }
.node-readmore a:hover, .more-link a:hover, .field-name-node-link a:hover { background: #404040; }

#breadcrumb { margin: 0 0 30px; clear: both; }
#breadcrumb #breadcrumb-inner { width: 100%; max-width: 940px; margin: 0 auto; }
#breadcrumb #breadcrumb-inner a { color: #fff; }
#breadcrumb #breadcrumb-inner a:hover { color: #404040; }

.field .field-label { font-weight: normal; text-transform: uppercase; }

label { font-size: 12px; text-transform: uppercase; color: #bbb; font-weight: 400; }

input.form-text { padding: 6px; font-size: 16px; background: #fff; border: 1px solid #eee; }

.tabs { clear: both; margin: 30px 0; position: relative; z-index: 5; }
.tabs > ul { background: none; padding: 0; width: 100%; border: none; }
.tabs > ul li { margin: 0; padding: 0; display: inline-block; float: none; }
.tabs > ul li.active a { background: #19a33e; position: relative; border: none; color: #fff; padding: 5px 10px; }
.tabs > ul li.active a:after { content: ""; position: absolute; bottom: -16px; left: 50%; margin-left: -8px; border-top: 8px solid #19a33e; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid transparent; }
.tabs > ul li a { font-size: 14px; text-transform: uppercase; border-radius: 4px; border: none; color: #333; padding: 5px 10px; }
.tabs > ul li a.active { background: #19a33e; color: #fff; position: relative; }
.tabs > ul li a.active:hover { background: #19a33e; }
.tabs > ul li a.active:after { content: ""; position: absolute; bottom: -16px; left: 50%; margin-left: -8px; border-top: 8px solid #19a33e; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid transparent; }
.tabs > ul li a:hover { background: #333; color: #fff; }

[class*=grid] { float: left; padding: 0 1%; }
[class*=grid].first { padding-left: 0; clear: left; }
[class*=grid].last { padding-right: 0; }

.grid-12 { width: 100%; }

.grid-11 { width: 91.66%; }

.grid-10 { width: 83.33%; }

.grid-9 { width: 75%; }

.grid-8 { width: 66.66%; }

.grid-7 { width: 58.33%; }

.grid-6 { width: 50%; }

.grid-5 { width: 41.66%; }

.grid-4 { width: 33.33%; }

.grid-3 { width: 25%; }

.grid-2 { width: 16.66%; }

.grid-1 { width: 8.33%; }

/* topdoc name: Typography mixin: type-heading-footer type-heading-sm type-price markup: <span class="type-heading-footer">Heading footer</span><br> <span class="type-heading-sm">Heading sm</span><br> <span class="type-heading-light">Heading light</span><br> <span class="type-price">86<small>,99</small></span>
*/
.type-heading-footer { font: 500 24px/1.25 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }

.type-heading-sm { font: 20px/1.3 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }

.type-heading-fat { font: 500 26px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }

.type-heading-light { font: 400 30px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #2e2e2f; margin: 0.4em 0 0.2em 0; }

.type-price { font: 50px/1.15 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #2e2e2f; }
.type-price small { font-size: 30px; }

/* topdoc name: Button links modifiers: :hover: Active state markup: <p><a href="#" class="mob-button mob-green">Lorem Ipsum</a></p> <p><a href="#" class="mob-button mob-grey">Lorem Ipsum</a></p> <p><a href="#" class="mob-button mob-white">Lorem Ipsum</a></p>
*/
.mob-button { font: 700 16px/0.6875 Helvetica, Arial, sans-serif; border: none; border-radius: 2em; border: 1px solid transparent; padding: 0.85em 2em; background: #2e2e2f; color: white; text-decoration: none; height: auto; display: inline-block; /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
.mob-button:hover { /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.mob-button.mob-green { background-color: #19a33e; color: white; }
.mob-button.mob-green:hover { background-color: white; color: #19a33e; border-color: #19a33e; }

.mob-button.mob-grey { background-color: #2e2e2f; color: white; }
.mob-button.mob-grey:hover { background-color: white; color: #2e2e2f; border-color: #2e2e2f; }

.mob-button.mob-white { background-color: white; color: #555554; }
.mob-button.mob-white:hover { border-color: #555554; }

/* topdoc name: Breadcrumbs modifiers: :hover: Active state markup: <div class="breadcrumb"> <a href="/nl">Home</a><span class="breadcrumb-divider"></span> <a href="/nl/aanbod">Store</a><span class="breadcrumb-divider"></span> <a href="/nl/aanbod/gsm-smartphones">GSM & Smartphones</a><span class="breadcrumb-divider"></span> Alle GSM's </div>
*/
.breadcrumb { font-size: 14px; line-height: 26px; font-weight: bold; color: #595959; }
.breadcrumb a { color: #19a33e; }
.breadcrumb a:hover { text-decoration: underline; }
.breadcrumb .breadcrumb-divider:after { font-family: "FontAwesome"; font-size: 10px; content: "\00A0\f105"; margin: 0 8px; }

div.panel-pane div.node-html-block .content { display: table; border-spacing: 10px 0; margin: 10px 0px; width: 100%; }
div.panel-pane div.node-html-block .row { display: table-row; }
div.panel-pane div.node-html-block .col { float: none; display: table-cell; vertical-align: top; padding: 0; clear: none; }

div.panel-pane.dark-background { background-image: none; background-color: #333238; color: #d0d0d1; }
div.panel-pane.dark-background .pane-title { color: inherit; }

div.panel-pane.grey-column .row .col { background-color: #f4f3ef; border-radius: 6px; }

/* topdoc name: Forms markup: <form> <p class="form-type-textfield"> <label>Textfield Label</label> <input placeholder="Textfield" type="text"> </p> <p class="form-type-checkbox"> <input type="checkbox" id="form-name-checkbox"> <label for="form-name-checkbox">Checkbox Label</label> </p> <p class="form-type-radio"> <input type="radio" id="form-name-radio"> <label for="form-name-radio">Radio Label</label> </p> <p class="form-type-button"> <button>Button</button> </p> <p class="form-type-select"> <select> <option>Option 1</option> <option>Option 2</option> <option>Option 3</option> </select> </p> <p class="form-type-textarea"> <label>Textarea label</label> <textarea>Textarea</textarea> </p> <p class="form-type-file"> <label>File field label</label> <input type="file"> </p> </form>
*/
::-webkit-input-placeholder { color: #2e2e2f; }

::-moz-placeholder { color: #2e2e2f; }

/* firefox 19+ */
:-ms-input-placeholder { color: #2e2e2f; }

/* ie */
input:-moz-placeholder { color: #2e2e2f; }

@-webkit-keyframes form-focus { 0% { -webkit-box-shadow: 0px 0px 15px #2e2e2f; box-shadow: 0px 0px 15px #2e2e2f; }
  100% { -webkit-box-shadow: 0px 0px 1px #2e2e2f; box-shadow: 0px 0px 1px #2e2e2f; } }

@keyframes form-focus { 0% { -webkit-box-shadow: 0px 0px 15px #2e2e2f; box-shadow: 0px 0px 15px #2e2e2f; }
  100% { -webkit-box-shadow: 0px 0px 1px #2e2e2f; box-shadow: 0px 0px 1px #2e2e2f; } }

input, button, textarea, select { color: #2e2e2f; outline: 0; border: none; -webkit-box-shadow: none; box-shadow: none; -webkit-box-shadow: 0px 0px 1px transparent; box-shadow: 0px 0px 1px transparent; }
input:focus, button:focus, textarea:focus, select:focus { outline: 0; -webkit-animation: form-focus 0.5s ease-out 1; animation: form-focus 0.5s ease-out 1; /* IE 10+ */ -webkit-box-shadow: 0px 0px 1px #2e2e2f; box-shadow: 0px 0px 1px #2e2e2f; }

input[type=radio] + label:before, input[type=checkbox] + label:before { -webkit-box-shadow: none; box-shadow: none; }
input[type=radio]:focus + label:before, input[type=checkbox]:focus + label:before { outline: none; -webkit-animation: form-focus 0.5s ease-out 1; animation: form-focus 0.5s ease-out 1; /* IE 10+ */ -webkit-box-shadow: 0px 0px 1px #2e2e2f; box-shadow: 0px 0px 1px #2e2e2f; }

.dcf-input + .dcf-replacement, .dcf-input + .dcf-replacement { -webkit-box-shadow: none; box-shadow: none; }

.dcf-input:focus + .dcf-replacement, .dcf-input:active + .dcf-replacement { outline: 0; -webkit-animation: form-focus 0.5s ease-out 1; animation: form-focus 0.5s ease-out 1; /* IE 10+ */ -webkit-box-shadow: 0px 0px 1px #2e2e2f; box-shadow: 0px 0px 1px #2e2e2f; }

label { text-transform: none; color: #2e2e2f; font-size: medium; }

input[type=text], input[type=password] { border: none; display: inline-block; height: 35px; border-radius: 35px; padding: 0 15px; }

select { height: 35px; }

textarea { border-radius: 6px; padding: 1ex 0.5em; border: none; }

button, input[type=submit] { font: 700 16px/0.6875 Helvetica, Arial, sans-serif; border: none; border-radius: 2em; border: 1px solid transparent; padding: 0.85em 2em; background: #2e2e2f; color: white; text-decoration: none; height: auto; display: inline-block; /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }
button:hover, input[type=submit]:hover { /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

.form-type-radio, .form-type-checkbox { position: relative; }
.form-type-radio input, .form-type-checkbox input { left: -1000px; position: absolute; }
.form-type-radio label, .form-type-checkbox label { padding: 0 0 0 25px; min-height: 20px; }
.form-type-radio label:before, .form-type-checkbox label:before { text-align: center; content: ''; position: absolute; left: 0; top: 0; display: block; background-color: white; width: 20px; height: 20px; line-height: 20px; }

.form-type-radio label:before { border-radius: 20px; }
.form-type-radio label.checked:before { content: '●'; }

.form-type-checkbox label:before { border-radius: 3px; }
.form-type-checkbox label.checked:before { content: '✔'; font-size: 22px; text-indent: 5px; }

.dcf-select .dcf-replacement, .dcf-file .dcf-replacement { padding: 0px; right: -2em; }
.dcf-select .dcf-feedback, .dcf-file .dcf-feedback { padding: 0 15px; }
.dcf-select .dcf-button, .dcf-file .dcf-button { padding: 0 1ex; }

.dcf-select .dcf-replacement { display: inline-block; border-radius: 35px; line-height: 35px; }

.dcf-file .dcf-replacement { display: inline-block; height: 35px; border-radius: 35px; line-height: 35px; }
.dcf-file .dcf-button { background-color: #2e2e2f; color: white; border-radius: 0 35px 35px 0; -webkit-box-shadow: 10px 0px 0px 0px #2e2e2f; box-shadow: 10px 0px 0px 0px #2e2e2f; }

.form-type-textarea label { vertical-align: top; }

/* topdoc name: Icons / Social media modifiers: :hover: Active state markup: <a href="#" class="mob-icon-socialmedia-twitter">Twitter</a> <a href="#" class="mob-icon-socialmedia-facebook">Facebook</a> <a href="#" class="mob-icon-socialmedia-youtube">Youtube</a> <a href="#" class="mob-icon-socialmedia-google">Google</a> <a href="#" class="mob-icon-socialmedia-instagram">Instagram</a> <a href="#" class="mob-icon-socialmedia-foursquare">Foursquare</a> <a href="#" class="mob-icon-socialmedia-linkedin">LinkedIn</a>
*/
.mob-icon-socialmedia-facebook:before, .mob-icon-socialmedia-twitter:before, .mob-icon-socialmedia-youtube:before, .mob-icon-socialmedia-google:before, .mob-icon-socialmedia-instagram:before, .mob-icon-socialmedia-foursquare:before, .mob-icon-socialmedia-linkedin:before { width: 45px; height: 45px; display: block; border-radius: 6px; background-image: url("../images/social-media-icons-white.png"); background-repeat: no-repeat; content: ''; }

.mob-icon-socialmedia-facebook { text-align: center; display: block; }
.mob-icon-socialmedia-facebook:before { background-color: #3b5998; background-position: -3px 0; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-facebook:hover:before { background-color: #5f7ec1; }

.mob-icon-socialmedia-twitter { text-align: center; display: block; }
.mob-icon-socialmedia-twitter:before { background-color: #45cdfd; background-position: -3px -53px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-twitter:hover:before { background-color: #91e1fe; }

.mob-icon-socialmedia-youtube { text-align: center; display: block; }
.mob-icon-socialmedia-youtube:before { background-color: #da2713; background-position: -3px -103px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-youtube:hover:before { background-color: #ef5b4a; }

.mob-icon-socialmedia-google { text-align: center; display: block; }
.mob-icon-socialmedia-google:before { background-color: #da2713; background-position: -3px -153px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-google:hover:before { background-color: #ef5b4a; }

.mob-icon-socialmedia-instagram { text-align: center; display: block; }
.mob-icon-socialmedia-instagram:before { background-color: #47799e; background-position: -3px -203px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-instagram:hover:before { background-color: #729fc0; }

.mob-icon-socialmedia-foursquare { text-align: center; display: block; }
.mob-icon-socialmedia-foursquare:before { background-color: #20b8e9; background-position: -3px -253px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-foursquare:hover:before { background-color: #66cef0; }

.mob-icon-socialmedia-linkedin { text-align: center; display: block; }
.mob-icon-socialmedia-linkedin:before { background-color: #007caf; background-position: -3px -303px; -webkit-transition: background-color 0.125s ease-out; transition: background-color 0.125s ease-out; margin: 0px auto 1em; }
.mob-icon-socialmedia-linkedin:hover:before { background-color: #00b2fb; }

/* topdoc name: Widget / Frontpage category modifiers: :hover: Active state markup: <a class="widget-fp-cat"> <img data-src="holder.js/80x80/#1daa45:#fff" alt="Placeholder"> <span>GSM subscriptions</span> </a>
*/
[class*=widget-fp-cat] { display: inline-block; vertical-align: top; width: 155px; height: 120px; border-radius: 5px; background-color: #f8f7f4; font: 500 20px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #2e2e2f; text-align: center; position: relative; padding-top: 60px; margin-top: 40px; margin-left: 7px; }
[class*=widget-fp-cat].x-six { width: 148px; }
[class*=widget-fp-cat].x-seven { width: 131px; }
[class*=widget-fp-cat]:first-child { margin-left: 0; }
[class*=widget-fp-cat] img { display: block; width: 80px; height: 80px; position: absolute; top: -40px; right: 0; left: 0; margin: 0px auto; border-radius: 6px; }

/* topdoc name: Widget / Frontpage tabs modifiers: :hover: Hover state :active: Active state markup: <a class="fp-tab"> <span class="fp-tab-title">Produits & services</span> <span class="fp-tab-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span> </a>
*/
.fp-tab { display: block; width: 241px; height: 135px; float: left; margin-right: 12px; margin-bottom: 12px; cursor: pointer; background-color: #19a33e; border-radius: 6px; padding: 15px 20px; font: 400 15px/1.75; color: white; -webkit-transition: all ease-in 0.1s; transition: all ease-in 0.1s; }
.fp-tab a { color: inherit; }
.fp-tab.last { margin-right: 0; }
.fp-tab:after { content: ''; display: block; margin: -12px -20px 0; height: 0; background-color: #19a33e; -webkit-transition: all ease-in 0.1s; transition: all ease-in 0.1s; }
.fp-tab:hover, .fp-tab.active { color: #2e2e2f; background-color: #ffffff; }
.fp-tab:hover:after, .fp-tab.active:after { height: 22px; background-color: #ffffff; }
.fp-tab .fp-tab-title { display: block; font: 500 26px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; margin-bottom: 1.2ex; height: 2em; }
.fp-tab .fp-tab-description { display: block; line-height: 1.2; height: 3.6em; }

/* topdoc name: Widget / Item preview modifiers: :hover: Hover state :active: Active state markup: <div class="widget-item-preview"> <div class="tag color-pink">New</div> <img class="image" data-src="holder.js/100x200/grey"> <div class="title">Apple NEW</div> <div class="subtitle">iPhone 5s</div> <div class="body">Curabitur blandit tempus porttitor vivamus</div> <div class="price">799<span class="mob-size-sm">,99</span></div> <div class="center"> <div class="button">En savoir plus</div> </div> </div>
 <div class="widget-item-preview"> <div class="title">Reload Card</div> <div class="body">Curabitur blandit tempus portorvivamus</div> <img class="image" data-src="holder.js/150x100/"> <div class="price">10</div> <div class="center"> <div class="button">En savoir plus</div> </div> </div>
*/
div.widget-item-preview, div.widgetset-item-preview div.node-html-block .col { background-color: #f8f7f4; border-radius: 6px; font: 400 16px/1.25 Helvetica, Arial, sans-serif; color: #555554; padding: 20px; position: relative; }

div.widget-item-preview .title, div.widgetset-item-preview div.node-html-block .col .title { font: 500 26px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #696969; }

div.widget-item-preview .subtitle, div.widgetset-item-preview div.node-html-block .col .subtitle { font: 400 26px/1.23 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #555554; }

div.widget-item-preview .tag, div.widgetset-item-preview div.node-html-block .col .tag { font: 700 15px/1 Helvetica, Arial, sans-serif; border-radius: 3px; background-color: #2e2e2f; color: white; position: absolute; top: -10px; right: 10px; text-align: right; padding: 0.25em 0.5em; }
div.widget-item-preview .color-pink.tag, div.widgetset-item-preview div.node-html-block .col .color-pink.tag { background-color: #d5148b; }
div.widget-item-preview .color-yellow.tag, div.widgetset-item-preview div.node-html-block .col .color-yellow.tag { background-color: #f7a52f; }

div.widget-item-preview .price, div.widgetset-item-preview div.node-html-block .col .price { font: 500 58px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #2e2e2e; margin: 0.5em 0; }

div.widget-item-preview .body, div.widgetset-item-preview div.node-html-block .col .body { margin-top: 1ex; }

div.widget-item-preview .image, div.widgetset-item-preview div.node-html-block .col .image { float: right; margin-left: 10px; }

div.widget-item-preview .button, div.widgetset-item-preview div.node-html-block .col .button { font: 700 16px/0.6875 Helvetica, Arial, sans-serif; border: none; border-radius: 2em; border: 1px solid transparent; padding: 0.85em 2em; background: #2e2e2f; color: white; text-decoration: none; height: auto; display: inline-block; /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; display: inline-block; }
div.widget-item-preview .button:hover, div.widgetset-item-preview div.node-html-block .col .button:hover { /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

div.widgetset-item-preview div.node-html-block .top .col { padding-bottom: 0; border-radius: 6px 6px 0 0; }
div.widgetset-item-preview div.node-html-block .middle .col { padding-top: 0; padding-bottom: 0; border-radius: 0; }
div.widgetset-item-preview div.node-html-block .bottom .col { padding-top: 0; border-radius: 0 0 6px 6px; }

/* topdoc name: Widget / Region preview markup: <div class="widget-region-preview"> <div class="icon"><img data-src="holder.js/46x40/#1daa45:#fff"></div> <div class="title">Me non paenitet nullum festiviorem.</div> <div class="body">Hi omnes lingua, institutis, legibus inter se differunt. Mercedem aut nummos unde unde extricat, amaras. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Quisque placerat facilisis egestas cillum dolore.</div> <div class="center"> <div class="button mob-green">En savoir plus</div> </div> </div>
*/
.widget-region-preview, div.widgetset-region-preview div.node-html-block .col { background-color: #f4f3ef; padding: 24px 20px; color: #2e2e2f; border-radius: 6px; }

.widget-region-preview .icon, div.widgetset-region-preview div.node-html-block .col .icon { float: left; margin-right: 0.5em; }

.widget-region-preview .title, div.widgetset-region-preview div.node-html-block .col .title { font: 500 26px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; margin-top: 0.25em; margin-left: 55px; }

.widget-region-preview .body, div.widgetset-region-preview div.node-html-block .col .body { line-height: 1.25; margin: 1em 0; }

.widget-region-preview .button, div.widgetset-region-preview div.node-html-block .col .button { font: 700 16px/0.6875 Helvetica, Arial, sans-serif; border: none; border-radius: 2em; border: 1px solid transparent; padding: 0.85em 2em; background: #19a33e; color: white; text-decoration: none; height: auto; display: inline-block; /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; font-weight: 400; }
.widget-region-preview .button:hover, div.widgetset-region-preview div.node-html-block .col .button:hover { /* CSS3 Transitions */ -webkit-transition: all 0.4s ease-in-out; transition: all 0.4s ease-in-out; }

div.widgetset-region-preview div.node-html-block .top .col { padding-bottom: 0; border-radius: 6px 6px 0 0; }
div.widgetset-region-preview div.node-html-block .middle .col { padding-top: 0; padding-bottom: 0; border-radius: 0; }
div.widgetset-region-preview div.node-html-block .bottom .col { padding-top: 0; border-radius: 0 0 6px 6px; }

/* topdoc name: Widget / Video preview modifiers: :hover: Hover state markup: <a class="widget-video-preview"> <img class="image" data-src="holder.js/200x133/grey"> </a>
*/
.widget-video-preview { position: relative; display: block; }
.widget-video-preview:after { content: '▶'; display: block; position: absolute; left: 50%; top: 50%; width: 38px; height: 38px; margin-left: -19px; margin-top: -19px; background-color: #19a33e; border-radius: 19px; line-height: 41px; color: #fff; text-align: center; font-size: 20px; -webkit-transition: all 0.1s ease-in; transition: all 0.1s ease-in; padding-left: 3px; }
.widget-video-preview:hover:after { background-color: rgba(255, 255, 255, 0); color: #2e2e2f; }
.widget-video-preview .image { border-radius: 6px; }

.mob-size-sm { font-size: 50%; }

.mob-table { display: table; }

.mob-tablecell { display: table-cell; vertical-align: bottom; }

.center { text-align: center; }

/* topdoc name: Widget / Article preview markup: <div class="widget-article-preview"> <div class="image"><img data-src="holder.js/100%x140/grey"></div> <div class="title">Apple NEW</div> <div class="body">Curabitur blandit tempus porttitor vivamus</div> <div class="more">En savoir plus</div> </div>
 <div class="widget-article-preview mob-brown"> <div class="image"><img data-src="holder.js/100%x140/grey"></div> <div class="title">Apple NEW</div> <div class="body">Curabitur blandit tempus porttitor vivamus</div> <div class="more">En savoir plus</div> </div>
*/
.widget-article-preview, div.widgetset-article-preview div.node-html-block .col { background-color: #ffffff; border-radius: 6px; font: 400 16px/1.25 Helvetica, Arial, sans-serif; color: #555554; margin-bottom: 30px; }

.widget-article-preview .image img, div.widgetset-article-preview div.node-html-block .col .image img { border-radius: 6px 6px 0 0; min-width: 100%; }

.widget-article-preview .title, div.widgetset-article-preview div.node-html-block .col .title { font: 500 20px/1.5 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #555554; margin-bottom: 0.5ex; padding: 0 10px; }

.widget-article-preview .body, div.widgetset-article-preview div.node-html-block .col .body { padding: 0 10px 0 10px; }
.widget-article-preview .body p, div.widgetset-article-preview div.node-html-block .col .body p { margin-bottom: 0; }

.widget-article-preview .more, div.widgetset-article-preview div.node-html-block .col .more { color: #19a33e; font: 700 16px/2 Helvetica, Arial, sans-serif; padding: 0 10px 1em 10px; }
.widget-article-preview .more:after, div.widgetset-article-preview div.node-html-block .col .more:after { content: ' ›'; }

.widget-article-preview.mob-brown { background-color: #f8f7f4; }

.widget-article-preview.mob-green { background-color: #1aa43f; }

/* topdoc name: Widget / Features markup: <div class="widget-feature"> <div class="image"><img data-src="holder.js/65x75/#1daa45:#fff" alt="Placeholder"></div> <div class="body">Ambitioni dedisse <br>scripsisse iudicaretur.</div> </div>
*/
.widget-feature .image { display: inline-block; vertical-align: middle; margin-right: 0.5em; }

.widget-feature .body { font: 500 20px/1.2 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; color: #c2c2c4; display: inline-block; vertical-align: middle; word-wrap: break-word; max-width: 75%; }

/* topdoc name: Block / Basic markup: <div class="mob-block-basic mob-green"> <div class="content"> <div class="title">Apple NEW</div> Curabitur blandit tempus porttitor vivamus <div class="more">En savoir plus</div> </div> </div>
*/
.mob-block-basic { display: block; border-radius: 6px; background: #19a33e; color: white; padding: 10px; }
.mob-block-basic a { font-weight: 700; color: white; }

.mob-block-basic.mob-green { display: block; border-radius: 6px; background: #19a33e; color: white; padding: 10px; }
.mob-block-basic.mob-green a { font-weight: 700; color: white; }

/* topdoc name: Block / Login markup: <div class="mob-block-login mob-green"> <input placeholder="Username" type="text"><br> <input placeohlder="Password" type="password"><br> <button type="submit" class="mob-button mob-grey">Login</button> <p>Forgot <a href="#">login</a> or <a href="#">password</a>?</p> </div>
*/
.mob-block-login { display: block; border-radius: 6px; background: #19a33e; color: white; padding: 10px; padding: 20px; max-width: 315px; }
.mob-block-login a { font-weight: 700; color: white; }
.mob-block-login input { width: 100%; margin-bottom: 10px; }
.mob-block-login p { margin-bottom: 0; }

/** This needs some refactoring */
/*
* @file
*
* All styling for the language selection page.
*/
.i18n_selection_page { background: #ecebe9 url("../images/splash.jpg") no-repeat center top; }
.i18n_selection_page a { color: #19a33e; }
.i18n_selection_page .language_selection_page_body { width: 1000px; background: none; height: auto; margin: 0 auto; padding: 0; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner { border: none; margin: 0; padding: 315px 0 0; width: auto; background: none; overflow: hidden; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .logo { position: absolute; width: 200px; height: 114px; top: 25px; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language { -webkit-box-shadow: none; box-shadow: none; width: 485px; background: none; margin: 0; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language.odd { float: left; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language.even { float: right; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language .language-content { border-radius: 6px; padding: 20px; background: #1ca944; color: #ffffff; overflow: hidden; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language .language-content h2 { margin: 0 0 30px 0; font-size: 30px; line-height: 1; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .language .language-content .language-link { height: auto; padding: 1.75ex 1em; color: #28272d; border-radius: 20px; margin-bottom: 10px; float: left; clear: left; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about { border-radius: 6px; width: 485px; background: #fff; margin-top: 135px; min-height: 480px; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about.odd { float: left; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about.even { float: right; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about h2 { margin-top: 0; padding: 20px 20px 0; font-size: 30px; font-weight: 400; line-height: 1; color: #2e2e2f; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about .about-content { border-top: 1px #e6e6e6 solid; padding: 0 20px; font: 400 16px/1.25 Helvetica, Arial, sans-serif; color: #585858; }
.i18n_selection_page .language_selection_page_body .language_selection_page_body_inner .about .about-content a { font-weight: 700; }
.i18n_selection_page .language_selection_page_footer { background: #222127; color: #fff; font: 400 16px/1.5 Helvetica, Arial, sans-serif; margin-top: 50px; }
.i18n_selection_page .language_selection_page_footer .language_selection_page_footer_inner { width: 1000px; margin: 0 auto; padding: 1em 0; }
.i18n_selection_page .language_selection_page_footer .language_selection_page_footer_inner a { font-weight: 700; }
.i18n_selection_page .language_selection_page_footer .language_selection_page_footer_inner a:hover { color: #ffffff; }

.page-frontpage-b2c .panel-pane .pane-title { font: 400 30px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #2e2e2f; margin: 0.4em 0 0.2em 0; margin-bottom: 0.75em; margin-left: 10px; }
.page-frontpage-b2c #tabs-content-wrapper { background-color: white; clear: left; overflow: hidden; padding-top: 15px; }
.page-frontpage-b2c #tabs-content-wrapper .fp-tab-content { overflow: hidden; }
.page-frontpage-b2c #tab-products { background: url("../images/separator-line.png") center 10px no-repeat transparent; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus, .page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-tutorials { padding: 0 2%; position: relative; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus h2, .page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-tutorials h2 { font: 400 30px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #2e2e2f; margin: 0.4em 0 0.2em 0; margin-bottom: 1em; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .intro, .page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-tutorials .intro { height: 4em; border-bottom: 1px solid #eeeeee; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul { padding: 0; margin: 0; overflow: hidden; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.expanded, .page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf { padding: 0; margin: 0; list-style: none; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf { font: 500 16px/1.25 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; border-top: 1px solid #eeeeee; padding: 1em 0; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf a { color: #19a33e; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf a:before { content: '› '; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf.first, .page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .menu-block-wrapper ul li.leaf.first + li.leaf { border-top: 0; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .pane-content { padding-top: 10px; overflow: hidden; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .left-column { width: 465px; margin-right: 15px; float: left; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .left-column .menu-block-wrapper ul li.leaf { width: 47.5%; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .left-column .menu-block-wrapper ul li.leaf.odd { float: left; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .left-column .menu-block-wrapper ul li.leaf.even { float: right; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .right-column { width: 215px; margin-left: 15px; float: right; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-menus .more { display: block; text-align: center; padding: 1em 0; font-family: "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; border-top: 1px solid #eeeeee; }
.page-frontpage-b2c #tab-support .pane-b2c-frontpage-tab-help-support-tutorials a { font: 700 16px/1.25 Helvetica, Arial, sans-serif; color: #19a33e; }
.page-frontpage-b2c #discover-wrapper .node-article { margin-bottom: 30px; }

#blog-top { margin-bottom: 30px; height: 70px; border-radius: 6px; background-color: #19a33e; }

.view-blog-category-switcher { float: left; background-color: #19a33e; padding-left: 10px; }
.view-blog-category-switcher a { display: inline-block; vertical-align: middle; height: 70px; color: white; font: 500 16px/1 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }
.view-blog-category-switcher .views-row { display: inline-block; padding: 0 20px; }

.pane-b2c-blog-b2c-blog-rss-link { float: right; background-color: #303031; padding: 20px; }
.pane-b2c-blog-b2c-blog-rss-link .pane-content a { line-height: 30px; color: white; }

.pane-b2c-blog-b2c-blog-bloggers-summary { background-color: #e4e2da; border-radius: 6px; padding: 20px; }
.pane-b2c-blog-b2c-blog-bloggers-summary .pane-title { font: 400 30px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #2e2e2f; margin: 0.4em 0 0.2em 0; }

div.panel-pane div.node-blog.node-teaser { background-color: white; border-radius: 6px; margin-bottom: 40px; padding-bottom: 40px; position: relative; height: 300px; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-featured-image { float: left; margin-right: 24px; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-featured-image img { height: 300px; width: 330px; }
div.panel-pane div.node-blog.node-teaser h2 { font: 400 30px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; color: #2e2e2f; margin: 0.4em 0 0.2em 0; }
div.panel-pane div.node-blog.node-teaser .ui-padding { margin-left: 325px; padding: 5px 20px 20px 25px; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-category .field-item { position: absolute; top: -2em; left: -1em; background-color: #303031; color: white; border-radius: 12px; font: 400 12px/1 "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif; text-transform: uppercase; padding: 1.125em 1em; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-category .field-item:after { content: ''; background-color: red; top: 0; bottom: 0; left: 0; right: 0; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-author { max-width: 60%; display: inline-block; vertical-align: top; color: #999999; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-author a { color: #19a33e; }
div.panel-pane div.node-blog.node-teaser .field-name-field-blog-author .field-item { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
div.panel-pane div.node-blog.node-teaser .created-date { display: inline-block; color: #999999; }
div.panel-pane div.node-blog.node-teaser .created-date:before { margin: 0 1em; content: '|'; }
div.panel-pane div.node-blog.node-teaser .field-name-body { color: #303031; font: 400 16px/1.25 Helvetica, Arial, sans-serif; }
div.panel-pane div.node-blog.node-teaser .more { font: 700 16px/1 Helvetica, Arial, sans-serif; color: #19a33e; }
div.panel-pane div.node-blog.node-teaser .more:after { content: ' ›'; }
div.panel-pane div.node-blog.node-teaser .feedback { position: absolute; bottom: 0; right: 0; margin: 20px; }

.taxonomy-term.vocabulary-bloggers { color: #2e2e2f; font: 400 14px/1.5 Helvetica, Arial, sans-serif; margin: 0px -20px; padding: 1em 20px; border-top: 1px solid #d1d0c9; }
.taxonomy-term.vocabulary-bloggers:first-child { border-top: none; }
.taxonomy-term.vocabulary-bloggers .field-name-field-blogger-picture, .taxonomy-term.vocabulary-bloggers .field-name-field-blogger-first-name, .taxonomy-term.vocabulary-bloggers .company { display: inline-block; vertical-align: middle; }
.taxonomy-term.vocabulary-bloggers .field-name-field-blogger-picture img { max-width: 50px; max-height: 50px; margin-right: 10px; border-radius: 6px; vertical-align: middle; }
.taxonomy-term.vocabulary-bloggers .field-name-field-blogger-first-name { color: #19a33e; font: 500 20px/1.6 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }
.taxonomy-term.vocabulary-bloggers .field-name-field-blogger-first-name .field-item { max-width: 75px; overflow: hidden; text-overflow: ellipsis; }
.taxonomy-term.vocabulary-bloggers .company { color: #2e2e2f; font: 500 20px/1.6 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }
.taxonomy-term.vocabulary-bloggers .author { margin: 5px 0; }
.taxonomy-term.vocabulary-bloggers .taxonomy-term-description { margin: 0; }
.taxonomy-term.vocabulary-bloggers .taxonomy-term-description p { margin: inherit; }

label { text-transform: none; color: white; }

.page-user.not-logged-in #content { background: white; }
.page-user.not-logged-in #content .inner { padding: 10px; }
.page-user.not-logged-in form { display: block; border-radius: 6px; background: #19a33e; color: white; padding: 10px; }
.page-user.not-logged-in form a { font-weight: 700; color: white; }
.page-user.not-logged-in form { background-color: #19a33e; }

#footer_html { background-color: #1a191e; color: white; }
#footer_html a { color: inherit; }
#footer_html .inner { width: 1000px; margin: 0px auto; overflow: hidden; font: 400 14px/1.285 Helvetica, Arial, sans-serif; }
#footer_html ul { padding: 0; list-style: none; display: block; }
#footer_html .footer-socialmedia { background-color: #222127; padding: 2em 0; }
#footer_html .footer-socialmedia .title { float: left; width: 20%; color: #c1bfc2; font: 500 20px/1.25 "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif; }
#footer_html .footer-socialmedia ul { float: right; width: 80%; }
#footer_html .footer-socialmedia ul li { float: left; width: 14.25%; }
#footer_html .footer-socialmedia ul li a { display: block; }
#footer_html .footer-links { background-color: #28272d; }
#footer_html .footer-links ul { float: left; width: 16.66%; color: #7d7c81; }
#footer_html .footer-links ul .title { font: 500 16px/1.25 Helvetica, Arial, sans-serif; margin-bottom: 3em; color: #c1bfc2; }
#footer_html .footer-bottom { background-color: #1a191e; }
#footer_html .footer-bottom ul { color: #747378; }
#footer_html .footer-bottom ul li { display: inline; }
#footer_html .footer-bottom ul li:after { color: #333238; content: ' |'; display: inline-block; margin: 0 1ex; }
#footer_html .footer-bottom ul li.copyright { float: right; }
#footer_html .footer-bottom ul li.copyright:after { content: none; }

/**
* BASIC STYLING
*/
body { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; background-color: #f2f1ec; }
body #content { width: 1000px; margin-left: auto; margin-right: auto; }

#header-top { display: none; }

#menubox-top { display: none; }

#preface-bottom { background: url("../images/homepage-slider.png") center center no-repeat transparent; position: absolute; width: 100%; min-height: 400px; z-index: -1; }

#content { margin-top: 200px; }
