// FONTS
@font-face {
  font-family: 'Mobistar';
  src: url('../fonts/mobistarregmobistar.eot');
  src: url('../fonts/mobistarregmobistar.eot?iefix') format('eot'),
  url('../fonts/mobistarregmobistar.woff') format('woff'),
  url('../fonts/mobistarregmobistar.ttf') format('truetype'),
  url('../fonts/mobistarregmobistar.svg#mobistarregmobistar') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mobistar';
  src: url('../fonts/mobistarmedmobistar.eot');
  src: url('../fonts/mobistarmedmobistar.eot?iefix') format('eot'),
  url('../fonts/mobistarmedmobistar.woff') format('woff'),
  url('../fonts/mobistarmedmobistar.ttf') format('truetype'),
  url('../fonts/mobistarmedmobistar.svg#mobistarmedmobistar') format('svg');
  font-weight: 700;
  font-style: normal;
}

@mixin mobistar-regular {
  font-family: $font-mobistar;
  font-style: normal;
  font-weight: 400;
}

@mixin mobistar-medium {
  font-family: $font-mobistar;
  font-style: normal;
  font-weight: 700;
}
