/**
 * MIXINS
 */



// ======
// BASICS
// ======

@mixin clearfix() {
  /* For modern browsers */
  &:before,
  &:after {
    content:"";
    display:table;
  }
  &:after {
    clear:both;
  }
  @if $ie-lt8 { /* For IE 6/7 (trigger hasLayout) */
    zoom:1;
  }
}

@mixin hide-text() {
  /* Zeldman's image replacement technique */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin transition($transition-property, $transition-time, $method) {
    /* CSS3 Transitions */
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
          border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
            border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
             border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
          border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
           border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
          border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
             border-top-left-radius: $radius;
}

@mixin arrow-before() {
  font-family: $font-icon;
  font-size: 10px;
  content: "\f105\00A0";
}

@mixin arrow-after() {
  font-family: $font-icon;
  font-size: 10px;
  content: "\00A0\f105";
}

@mixin arrow-up() {
  font-family: $font-icon;
  font-size: 10px;
  content: "\00A0\f106";
}

@mixin arrow-down() {
  font-family: $font-icon;
  font-size: 10px;
  content: "\00A0\f107";
}


// ======
// DRUPAL
// ======

// HORIZONTAL LIST (FLOAT)
@mixin menu-horizontal($margin: 5px, $direction: left) {
  li.leaf {
    list-style: none;
    float: $direction;
    margin-left: $margin;
    margin-right: $margin;
    @if $direction == right {
      &.first { margin-right: 0; }
      &.last  { margin-left: 0; }
    }
    @else {
      &.first { margin-left: 0; }
      &.last  { margin-right: 0; }
    }
  }
}
// RESET MENU STYLE
@mixin menu-nostyle() {
  padding: 0;
  margin: 0;
  li.expanded,
  li.leaf {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
