// VARIABLES
// ---------
// Prefix variables with semantic meaning:
// clr: color
// dim: dimension
// res: resolution/responsive
// bs:  browser support

$bs-ie-lt8: false; // If less or equal than Internet Explorer 8

// Mobistar colors
$clr-green:        #19a33e;
$clr-green2:       #1daa45;
$clr-green3:       #1aa43f;
$clr-white:        #ffffff;
$clr-grey-dark:    #2e2e2f;
$clr-grey-darky:   #333238;
$clr-grey:         #555554;
$clr-grey2:        #595959;
$clr-grey-light:   #f4f3ef;
$clr-grey-lighter: #f8f7f4;

$clr-body:        #ffffff;
$clr-link:        $clr-green;
$clr-link-hover:  darken($clr-green, 20);
$clr-contrast:    #000000;

$grid-width: 1000px;
$grid-col: 54px;
$grid-spacing: 16px;

$font-heading: "Mobistar-Medium", "mobistar-medium", "mobistar medium", "Mobistar", sans-serif;
$font-heading-light: "Mobistar-Regular", "mobistar-regular", "mobistar regular", "Mobistar", sans-serif;
$font-body: Helvetica, Arial, sans-serif;
$font-icon: "FontAwesome";

$radius-border-medium: 6px;
