@charset "UTF-8";

/**
* IMPORTS
* Select the ones you need
*/
@import "../vendor/normalize/index";
@import "../vendor/dcf/dcf";
@import "variables";
@import "mixins";
@import "fonts";
@import "bootstrap";

@import "grid";
@import "typography";
@import "elements";
@import "panels";
@import "forms";
@import "icons";
@import "widgets";

@import "pages-language-selection";
@import "pages-frontpage";
@import "pages-blog";
@import "temporary";

/**
* BASIC STYLING
*/
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f1ec;
  #content {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

#header-top {
  display: none;
}

#menubox-top {
  display: none;
}

#preface-bottom {
  background: url('../images/homepage-slider.png') center center no-repeat transparent;
  position: absolute;
  width: 100%;
  min-height: 400px;
  z-index: -1;
}

#content {
  margin-top: 200px;
}


