/* topdoc
  name: Button links
  modifiers:
    :hover: Active state
  markup:
    <p><a href="#" class="mob-button mob-green">Lorem Ipsum</a></p>
    <p><a href="#" class="mob-button mob-grey">Lorem Ipsum</a></p>
    <p><a href="#" class="mob-button mob-white">Lorem Ipsum</a></p>
*/
@mixin mob-button($background: $clr-grey-dark, $color: $clr-white) {
  font: 700 16px/0.6875 $font-body;
  border: none;
  border-radius: 2em;
  border: 1px solid transparent;
  padding: 0.85em 2em;
  background: $background;
  color: $color;
  text-decoration: none;
  height: auto;
  display: inline-block;
  @include transition(all, .4s, ease-in-out);
  &:hover {
    @include transition(all, .4s, ease-in-out);
  }
}
.mob-button {
  @include mob-button();
}
.mob-button.mob-green {
  background-color: $clr-green;
  color: $clr-white;
  &:hover {
    background-color: $clr-white;
    color: $clr-green;
    border-color: $clr-green;
  }
}
.mob-button.mob-grey {
  background-color: $clr-grey-dark;
  color: $clr-white;
  &:hover {
    background-color: $clr-white;
    color: $clr-grey-dark;
    border-color: $clr-grey-dark;
  }
}
.mob-button.mob-white {
  background-color: $clr-white;
  color: $clr-grey;
  &:hover {
    border-color: $clr-grey;
  }
}

/* topdoc
  name: Breadcrumbs
  modifiers:
    :hover: Active state
  markup:
    <div class="breadcrumb">
      <a href="/nl">Home</a><span class="breadcrumb-divider"></span>
      <a href="/nl/aanbod">Store</a><span class="breadcrumb-divider"></span>
      <a href="/nl/aanbod/gsm-smartphones">GSM & Smartphones</a><span class="breadcrumb-divider"></span>
      Alle GSM's
    </div>
*/
.breadcrumb {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: $clr-grey2;
  a {
    color: $clr-link;
    &:hover {
      text-decoration: underline;
    }
  }
  .breadcrumb-divider {
    &:after {
      @include arrow-after();
      margin: 0 8px;
    }
  }
}
