@charset "UTF-8";

/* topdoc
  name: Forms
  markup:
    <form>
      <p class="form-type-textfield">
        <label>Textfield Label</label>
        <input placeholder="Textfield" type="text">
      </p>
      <p class="form-type-checkbox">
        <input type="checkbox" id="form-name-checkbox">
        <label for="form-name-checkbox">Checkbox Label</label>
      </p>
      <p class="form-type-radio">
        <input type="radio" id="form-name-radio">
        <label for="form-name-radio">Radio Label</label>
      </p>
      <p class="form-type-button">
        <button>Button</button>
      </p>
      <p class="form-type-select">
        <select>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </p>
      <p class="form-type-textarea">
        <label>Textarea label</label>
        <textarea>Textarea</textarea>
      </p>
      <p class="form-type-file">
        <label>File field label</label>
        <input type="file">
      </p>
    </form>
*/

::-webkit-input-placeholder { color: $clr-grey-dark; }
::-moz-placeholder { color: $clr-grey-dark; } /* firefox 19+ */
:-ms-input-placeholder { color: $clr-grey-dark; } /* ie */
input:-moz-placeholder { color: $clr-grey-dark; }

@keyframes form-focus {
  0% {
    box-shadow:  0px 0px 15px $clr-grey-dark;
  }
  100% {
    box-shadow: 0px 0px 1px $clr-grey-dark;
  }
}

// ----------------------------------------------------------------------------
// Focus animation

input,
button,
textarea,
select {
  color: $clr-grey-dark;
  outline: 0;
  border: none;
  box-shadow: none;
  box-shadow: 0px 0px 1px transparent;
  &:focus {
    outline: 0;
    animation: form-focus 0.5s ease-out 1; /* IE 10+ */
    box-shadow: 0px 0px 1px $clr-grey-dark;
  }
}

input[type=radio],
input[type=checkbox] {
  & + label:before {
    box-shadow: none;
  }
  &:focus {
    & + label:before {
      outline: none;
      animation: form-focus 0.5s ease-out 1; /* IE 10+ */
      box-shadow: 0px 0px 1px $clr-grey-dark;
    }
  }
}

// DCF Focus
.dcf-input + .dcf-replacement,
.dcf-input + .dcf-replacement {
  box-shadow: none;
}
.dcf-input:focus + .dcf-replacement,
.dcf-input:active + .dcf-replacement {
  outline: 0;
  animation: form-focus 0.5s ease-out 1; /* IE 10+ */
  box-shadow: 0px 0px 1px $clr-grey-dark;
}

// End Focus animation
// ----------------------------------------------------------------------------



// ----------------------------------------------------------------------------
// Basics

label {
  text-transform: none;
  color: $clr-grey-dark;
  font-size: medium;
}

input[type=text],
input[type=password] {
  border: none;
  display: inline-block;
  height: 35px;
  border-radius: 35px;
  padding: 0 15px;
}

select {
  height: 35px;
}

textarea {
  border-radius: $radius-border-medium;
  padding: 1ex 0.5em;
  border: none;
}

button,
input[type=submit] {
  @include mob-button();
}

// End Basics
// ----------------------------------------------------------------------------



// ----------------------------------------------------------------------------
// Radio Selectbox

.form-type-radio,
.form-type-checkbox {
  position: relative;
  input {
    left: -1000px;
    position: absolute;
  }
  label {
    padding: 0 0 0 25px;
    min-height: 20px;
    &:before {
      text-align: center;
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      background-color: white;
      width: 20px;
      height: 20px;
      line-height: 20px;
    }
  }
}
.form-type-radio label {
  &:before {
    border-radius: 20px;
  }
  &.checked:before {
    content: '●';
  }
}

.form-type-checkbox label {
  &:before {
    border-radius: 3px;
  }
  &.checked:before {
    content: '✔';
    font-size: 22px;
    text-indent: 5px;
  }
}

// End Radio Selectbox
// ----------------------------------------------------------------------------



// ----------------------------------------------------------------------------
// Drupal's Custom Form Fields

.dcf-select,
.dcf-file {
  .dcf-replacement {
    padding: 0px;
    right: -2em;
  }
  .dcf-feedback {
    padding: 0 15px;
  }
  .dcf-button {
    padding: 0 1ex;
  }
}

.dcf-select {
  .dcf-replacement {
    display: inline-block;
    border-radius: 35px;
    line-height: 35px;
  }
}

.dcf-file {
  .dcf-replacement {
    display: inline-block;
    height: 35px;
    border-radius: 35px;
    line-height: 35px;
  }
  .dcf-button {
    background-color: $clr-grey-dark;
    color: $clr-white;
    border-radius: 0 35px 35px 0;
    box-shadow: 10px 0px 0px 0px $clr-grey-dark;
  }
}

.form-type-textarea label {
  vertical-align: top;
}

// End Drupal's Custom Form Fields
// ----------------------------------------------------------------------------
