[class*=grid] {
  float: left;
  padding: 0 1%;
  &.first { padding-left: 0; clear: left; }
  &.last  { padding-right: 0; }
}

.grid-12 { width: 100%; }
.grid-11 { width: 91.66%; }
.grid-10 { width: 83.33%; }
.grid-9  { width: 75%; }
.grid-8  { width: 66.66%; }
.grid-7  { width: 58.33%; }
.grid-6  { width: 50%; }
.grid-5  { width: 41.66%; }
.grid-4  { width: 33.33%; }
.grid-3  { width: 25%; }
.grid-2  { width: 16.66%; }
.grid-1  { width: 8.33%; }
