/* topdoc
  name: Icons / Social media
  modifiers:
    :hover: Active state
  markup:
    <a href="#" class="mob-icon-socialmedia-twitter">Twitter</a>
    <a href="#" class="mob-icon-socialmedia-facebook">Facebook</a>
    <a href="#" class="mob-icon-socialmedia-youtube">Youtube</a>
    <a href="#" class="mob-icon-socialmedia-google">Google</a>
    <a href="#" class="mob-icon-socialmedia-instagram">Instagram</a>
    <a href="#" class="mob-icon-socialmedia-foursquare">Foursquare</a>
    <a href="#" class="mob-icon-socialmedia-linkedin">LinkedIn</a>
*/

%mob-icon-socialmedia {
  &:before {
    width: 45px;
    height: 45px;
    display: block;
    border-radius: $radius-border-medium;
    background-image: url('../images/social-media-icons-white.png');
    background-repeat: no-repeat;
    content: '';
  }

}
@mixin mob-icon-socialmedia($color, $position) {
  text-align: center;
  display: block;
  &:before {
    @extend %mob-icon-socialmedia;
    background-color: $color;
    background-position: -3px $position;
    transition: background-color 0.125s ease-out;
    margin: 0px auto 1em;
  }
  &:hover {
    &:before {
      background-color: lighten($color, 15);
    }
  }
}
.mob-icon-socialmedia-facebook {
  @include mob-icon-socialmedia(#3b5998, 0);
}
.mob-icon-socialmedia-twitter {
  @include mob-icon-socialmedia(#45cdfd, -53px);
}
.mob-icon-socialmedia-youtube {
  @include mob-icon-socialmedia(#da2713, -103px);
}
.mob-icon-socialmedia-google {
  @include mob-icon-socialmedia(#da2713, -153px);
}
.mob-icon-socialmedia-instagram {
  @include mob-icon-socialmedia(#47799e, -203px);
}
.mob-icon-socialmedia-foursquare {
  @include mob-icon-socialmedia(#20b8e9, -253px);
}
.mob-icon-socialmedia-linkedin {
  @include mob-icon-socialmedia(#007caf, -303px);
}
