/*
* @file
*
* All styling for the language selection page.
*/

.i18n_selection_page {
  background: #ecebe9 url('../images/splash.jpg') no-repeat center top;
  a {
    color: $clr-green;
  }
  .language_selection_page_body {
    width: 1000px;
    background: none;
    height: auto;
    margin: 0 auto;
    padding: 0;
    .language_selection_page_body_inner {
      border: none;
      margin: 0;
      padding: 315px 0 0;
      width: auto;
      background: none;
      overflow: hidden;
      .logo {
        position: absolute;
        width: 200px;
        height: 114px;
        top: 25px;
      }
      .language {
        box-shadow: none;
        width: 485px;
        background: none;
        margin: 0;
        &.odd {  float: left; }
        &.even { float: right; }
        .language-content {
          border-radius: $radius-border-medium;
          padding: 20px;
          background: #1ca944;
          color: #ffffff;
          overflow: hidden;
          h2 {
            margin: 0 0 30px 0;
            font-size: 30px;
            line-height: 1;
          }
          .language-link {
            height: auto;
            padding: 1.75ex 1em;
            color: #28272d;
            border-radius: 20px;
            margin-bottom: 10px;
            float: left;
            clear: left;
          }
        }
      }
      .about {
        border-radius: $radius-border-medium;
        width: 485px;
        background: #fff;
        margin-top: 135px;
        min-height: 480px;
        &.odd {  float: left; }
        &.even { float: right; }
        h2 {
          margin-top: 0;
          padding: 20px 20px 0;
          font-size: 30px;
          font-weight: 400;
          line-height: 1;
          color: #2e2e2f;
        }
        .about-content {
          border-top: 1px #e6e6e6 solid;
          padding: 0 20px;
          font: 400 16px/1.25 $font-body;
          color: #585858;
          a {
            font-weight: 700;
          }
        }
      }
    }
  }
  .language_selection_page_footer {
    background: #222127;
    color: #fff;
    font: 400 16px/1.5 $font-body;
    margin-top: 50px;
    .language_selection_page_footer_inner{
      width: 1000px;
      margin: 0 auto;
      padding: 1em 0;
      a {
        font-weight: 700;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
