@charset "UTF-8";

.page-frontpage-b2c {

  .panel-pane {
    .pane-title {
      @include type-heading-light;
      margin-bottom: 0.75em;
      margin-left: 10px;
    }
    .pane-content {

    }
  }

  #tabs-content-wrapper {
    background-color: white;
    clear: left;
    overflow: hidden;
    padding-top: 15px;
    .fp-tab-content {
      overflow: hidden;
    }
  }

  #tab-products {
    background: url("../images/separator-line.png") center 10px no-repeat transparent;
  }

  #tab-support {
    .pane-b2c-frontpage-tab-help-support-menus,
    .pane-b2c-frontpage-tab-help-support-tutorials {
      padding: 0 2%;
      position: relative;
      h2 {
        @include type-heading-light;
        margin-bottom: 1em;
      }
      .intro {
        height: 4em;
        border-bottom: 1px solid #eeeeee;
      }
    }
    .pane-b2c-frontpage-tab-help-support-menus {
      .menu-block-wrapper {
        ul {
          @include menu-nostyle();
          overflow: hidden;
          li.leaf {
            font: 500 16px/1.25 $font-heading;
            border-top: 1px solid #eeeeee;
            padding: 1em 0;
            a {
              color: $clr-green;
              &:before {
                content: '› ';
              }
            }
          }
          // No border-top on the first 2 elements
          li.leaf.first,
          li.leaf.first + li.leaf {
            border-top: 0;
          }
        }
      }
      .pane-content {
        padding-top: 10px;
        overflow: hidden;
      }
      .left-column {
        width: 465px;
        margin-right: 15px;
        float: left;
        .menu-block-wrapper ul li.leaf {
          width: 47.5%;
          &.odd  { float: left; }
          &.even { float: right; }
        }
      }
      .right-column {
        width: 215px;
        margin-left: 15px;
        float: right;
      }
      .more {
        display: block;
        text-align: center;
        padding: 1em 0;
        font-family: $font-heading;
        border-top: 1px solid #eeeeee;
      }

    }
    .pane-b2c-frontpage-tab-help-support-tutorials {
      a {
        font: 700 16px/1.25 $font-body;
        color: $clr-green;
      }
    }
  }

  #discover-wrapper {
    .node-article {
      margin-bottom: 30px;
    }
  }

}

