.view-id-blog_overview {

}

#blog-top {
  margin-bottom: 30px;
  height: 70px;
  border-radius: $radius-border-medium;
  background-color: $clr-green;
}

.view-blog-category-switcher {
  float: left;
  background-color: $clr-green;
  padding-left: 10px;
  a {
    display: inline-block;
    vertical-align: middle;
    height: 70px;
    color: $clr-white;
    font: 500 16px/1 $font-heading;
  }
  .views-row {
    display: inline-block;
    padding: 0 20px;
  }
}

.pane-b2c-blog-b2c-blog-rss-link {
  float: right;
  background-color: #303031;
  padding: 20px;
  .pane-content {
    a {
      line-height: 30px;
      color: $clr-white;
    }
  }
}

#blog-right {

}

.pane-b2c-blog-b2c-blog-bloggers-summary {
  background-color: #e4e2da;
  border-radius: $radius-border-medium;
  padding: 20px;
  .pane-title {
    @include type-heading-light;
  }

}



div.panel-pane div.node-blog.node-teaser {
  background-color: $clr-white;
  border-radius: $radius-border-medium;
  margin-bottom: 40px;
  padding-bottom: 40px;
  position: relative;
  height: 300px;
  .field-name-field-blog-featured-image {
    float: left;
    margin-right: 24px;
    img { // Todo: Needs to be reset once image
      height: 300px;
      width: 330px;
    }
  }
  h2 {
    @include type-heading-light;
  }

  .ui-padding {
    margin-left: 325px;
    padding: 5px 20px 20px 25px;
  }

  .field-name-field-blog-category .field-item {
    position: absolute;
    top: -2em;
    left: -1em;
    background-color: #303031;
    color: $clr-white;
    border-radius: $radius-border-medium*2;
    font: 400 12px/1 $font-heading-light;
    text-transform: uppercase;
    padding: 1.125em 1em;
    &:after {
      content: '';
      background-color: red;
      top: 0; bottom: 0; left: 0; right: 0;
    }
  }

  .field-name-field-blog-author {
    max-width: 60%;
    display: inline-block;
    vertical-align: top;
    color: #999999;
    a {
      color: $clr-green;
    }
    .field-item {
//      word-wrap: break-word;
      white-space:nowrap;
      overflow:hidden;
      text-overflow:ellipsis;
    }
  }

  .created-date {
    display: inline-block;
    color: #999999;
    &:before {
      margin: 0 1em;
      content: '|';
    }
  }

  .field-name-body {
    color: #303031;
    font: 400 16px/1.25 $font-body;
  }
  .more {
    @include type-more;
  }

  .feedback {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
  }
}


.taxonomy-term.vocabulary-bloggers {
  color: #2e2e2f;
  font: 400 14px/1.5 $font-body;
  margin: 0px -20px;
  padding: 1em 20px;
  border-top: 1px solid #d1d0c9;
  &:first-child {
    border-top: none;
  }
  .field-name-field-blogger-picture,
  .field-name-field-blogger-first-name,
  .company {
    display: inline-block;
    vertical-align: middle;
  }
  .field-name-field-blogger-picture {
//    float: left;
    img {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
      border-radius: $radius-border-medium;
      vertical-align: middle;
    }
  }
  .field-name-field-blogger-first-name {
    color: $clr-green;
    font: 500 20px/1.6 $font-heading;
    .field-item {
      max-width: 75px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .company {
    color: #2e2e2f;
    font: 500 20px/1.6 $font-heading;
  }

  .author {
    margin: 5px 0;
  }
  .taxonomy-term-description {
    margin: 0;
    p {
      margin: inherit;
    }
  }
}


