//------------------------------------------------------------------------------
// Styling blocks. These block are embedded on landingspages.

div.panel-pane div.node-html-block {
  .content {
    display: table;
    border-spacing: 10px 0;
    margin: 10px 0px;
    width: 100%;
  }
  .row {
    display: table-row;
  }
  .col {
    float: none;
    display: table-cell;
    vertical-align: top;
    padding: 0;
    clear: none;
  }
}

div.panel-pane.dark-background {
  background-image: none;
  background-color: $clr-grey-darky;
  color: #d0d0d1;
  .pane-title {
    color: inherit;
  }
}

div.panel-pane.grey-column {
  .row {
    .col {
      background-color: #f4f3ef;
      border-radius: $radius-border-medium;
    }
  }
}
