#mob-header {
  .upper-bar {
    background-color: #2f2f30;
    height: 42px;

    font: 400 13px/1;
    color: #999999;
    a {
      font: inherit;
      color: inherit;
    }
  }
  .bottom-bar {
    height: 70px;
  }
  .inner-menu {
    display: none;
  }

  .menu {
    list-style: none;
    display: inline;
    li {
      display: inline;
    }
  }
}
