/* topdoc
  name: Sticker
  mixin:
    bubble
  markup:
    <span class="bubble"><span>Content</span></span><br /><br />
*/

@mixin bubble-base() {
  content: '';
  position: absolute;
  border-style: solid;
  display: block;
  width: 0;
  z-index: 1;
  -webkit-transform: scale(.9999);
     -moz-transform: scale(.9999);
       -o-transform: scale(.9999);

}

.bubble {
  float: right;
  position: absolute;
  text-align: center;
  font-size: 15px;
  line-height: 13px;
  font-weight: bold;
  @include border-radius($radius-border-medium);
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
  padding: 5px;
  word-wrap: break-word;
  span {
    display: inline-block;
    color: white;
    max-width: 72px;
  }
  &:before {
    @include bubble-base();
    border-width: 0px 7px 0px 0;
    border-top-color: transparent;
    border-left-color: transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: 0px;
    left: -7px;
    bottom: -7px;
  }
  &:after {
    @include bubble-base();
    border-width: 7px 0px 0 0;
    border-bottom-color:  transparent;
    border-right-color: transparent;
    margin-left: -5px;
    bottom: -7px;
    left: 0;
  }
}

.bubble {
  background-color: #d5148b;
  color: #d5148b;
  // we declare this inline, can be changed by content team
  // js in custom.js
}
