label {
  text-transform: none;
  color: $clr-white;
}


.page-user.not-logged-in {
  #content {
    background: white;
    .inner {
      padding: 10px;
    }
  }
  form {
    @include mob-block($clr-green, $clr-white, 10px);
  }
  form {
    background-color: $clr-green;
  }
}

.inner {

}


#footer_html {
  background-color: #1a191e;
  color: $clr-white;
  a {
    color: inherit;
  }
  .inner {
    width: 1000px;
    margin: 0px auto;
    overflow: hidden;
    font: 400 14px/1.285 $font-body;
  }
  ul {
//    @include menu-nostyle;
    padding: 0;
    list-style: none;
    display: block;
  }
  .footer-socialmedia {
    background-color: #222127;
    padding: 2em 0;
    .title {
      float: left;
      width: 20%;
      color: #c1bfc2;
      font: 500 20px/1.25 $font-heading;
    }
    ul {
      float: right;
      width: 80%;
      li {
        float: left;
        width: 14.25%;
        a {
          display: block;
        }
      }
    }
  }
  .footer-links {
    background-color: #28272d;
    ul {
      float: left;
      width: 16.66%;
      color: #7d7c81;
      .title {
        font: 500 16px/1.25 $font-body;
        margin-bottom: 3em;
        color: #c1bfc2;
      }
    }
  }
  .footer-bottom {
    background-color: #1a191e;
    ul {
      color: #747378;
      li {
        display: inline;
        &:after {
          color: #333238;
          content: ' |';
          display: inline-block;
          margin: 0 1ex;
        }
        &.copyright {
          float: right;
          &:after {
            content: none;
          }
        }
      }
    }
  }
}
