@charset "UTF-8";

/* topdoc
  name: Typography
  mixin:
    type-heading-footer
    type-heading-sm
    type-price
  markup:
    <span class="type-heading-footer">Heading footer</span><br>
    <span class="type-heading-sm">Heading sm</span><br>
    <span class="type-heading-light">Heading light</span><br>
    <span class="type-price">86<small>,99</small></span>
*/

@mixin type-heading-footer {
  font: 500 24px/1.25 $font-heading;
}
.type-heading-footer {
  @include type-heading-footer;
}

@mixin type-heading-sm {
  font: 20px/1.3 $font-heading;
}
.type-heading-sm {
  @include type-heading-sm;
}

@mixin type-heading-fat {
  font: 500 26px/1 $font-heading;
}
.type-heading-fat {
  @include type-heading-fat;
}

@mixin type-heading-light {
  font: 400 30px/1 $font-heading-light;
  color: $clr-grey-dark;
  margin: 0.4em 0 0.2em 0;
}
.type-heading-light {
  @include type-heading-light;
}

@mixin type-price() {
  font: 50px/1.15 $font-heading;
  color: $clr-grey-dark;
  small {
    font-size: 30px;
  }
}
.type-price {
  @include type-price
}


@mixin type-more {
  font: 700 16px/1 $font-body;
  color: $clr-green;
  &:after {
    content: ' ›';
  }
}
