@charset "utf-8";

@mixin widgetset-settings(){
  .top .col {
    padding-bottom: 0;
    border-radius: $radius-border-medium $radius-border-medium 0 0;
  }
  .middle .col {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
  }
  .bottom .col {
    padding-top: 0;
    border-radius: 0 0 $radius-border-medium $radius-border-medium;
  }
}

/* topdoc
  name: Widget / Frontpage category
  modifiers:
    :hover: Active state
  markup:
    <a class="widget-fp-cat">
      <img data-src="holder.js/80x80/#1daa45:#fff" alt="Placeholder">
      <span>GSM subscriptions</span>
    </a>
*/
[class*=widget-fp-cat] {
  display: inline-block;
  vertical-align: top;
  width: 155px;
  height: 120px;
  border-radius: 5px;
  background-color: $clr-grey-lighter;
  font: 500 20px/1 $font-heading;
  color: $clr-grey-dark;
  text-align: center;
  position: relative;
  padding-top: 60px;
  margin-top: 40px;
  margin-left: 7px;
  &.x-six   { width: 148px; }
  &.x-seven { width: 131px; }
  &:first-child {
    margin-left: 0;
  }
  img { //&:before
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    margin: 0px auto;
    border-radius: $radius-border-medium;
  }
}


/* topdoc
  name: Widget / Frontpage tabs
  modifiers:
    :hover: Hover state
    :active: Active state
  markup:
    <a class="fp-tab">
      <span class="fp-tab-title">Produits & services</span>
      <span class="fp-tab-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
    </a>
*/
@mixin fp-tab() {
  display: block;
  width: 241px;
  height: 135px;
  float: left;
  margin-right: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  background-color: $clr-green;
  border-radius: $radius-border-medium;
  padding: 15px 20px;
  font: 400 15px/1.75;
  color: $clr-white;
  transition: all ease-in 0.1s;
  a {
    color: inherit;
  }
  &.last {
    margin-right: 0;
  }
  &:after {
    content: '';
    display: block;
    margin: -12px -20px 0;
    height: 0;
    background-color: $clr-green;
    transition: all ease-in 0.1s;
  }
  &:hover,
  &.active {
    color: $clr-grey-dark;
    background-color: #ffffff;
    &:after {
      height: 22px;
      background-color: #ffffff;
    }
  }
  .fp-tab-title {
    display: block;
    font: 500 26px/1 $font-heading;
    margin-bottom: 1.2ex;
    height: 2em;
  }
  .fp-tab-description {
    display: block;
    line-height: 1.2;
    height: 3.6em;
  }
}
.fp-tab {
  @include fp-tab
}

/* topdoc
  name: Widget / Item preview
  modifiers:
    :hover: Hover state
    :active: Active state
  markup:
    <div class="widget-item-preview">
      <div class="tag color-pink">New</div>
      <img class="image" data-src="holder.js/100x200/grey">
      <div class="title">Apple NEW</div>
      <div class="subtitle">iPhone 5s</div>
      <div class="body">Curabitur blandit tempus porttitor vivamus</div>
      <div class="price">799<span class="mob-size-sm">,99</span></div>
      <div class="center">
        <div class="button">En savoir plus</div>
      </div>
    </div>

    <div class="widget-item-preview">
      <div class="title">Reload Card</div>
      <div class="body">Curabitur blandit tempus portorvivamus</div>
      <img class="image" data-src="holder.js/150x100/">
      <div class="price">10</div>
      <div class="center">
        <div class="button">En savoir plus</div>
      </div>
    </div>
*/
%widget-item-preview-container {
  background-color: $clr-grey-lighter;
  border-radius: $radius-border-medium;
  font: 400 16px/1.25 $font-body;
  color: $clr-grey;
  padding: 20px;
  position: relative;
}
%widget-item-preview-title {
  font: 500 26px/1 $font-heading;
  color: #696969;
  //    margin-bottom: 0.5ex;
}
%widget-item-preview-subtitle {
  font: 400 26px/1.23 $font-heading-light;
  color: $clr-grey;
  //    margin-bottom: 0.5ex;
}
%widget-item-preview-tag {
  font: 700 15px/1 $font-body;
  border-radius: ($radius-border-medium/2);
  background-color: $clr-grey-dark;
  color: $clr-white;
  position: absolute;
  top: -10px;
  right: 10px;
  text-align: right;
  padding: 0.25em 0.5em;
  &.color-pink { background-color: #d5148b; }
  &.color-yellow { background-color: #f7a52f; }
}
%widget-item-preview-price {
  font: 500 58px/1 $font-heading;
  color: #2e2e2e;
  margin: 0.5em 0;
}
%widget-item-preview-body {
  margin-top: 1ex;
}
%widget-item-preview-image {
  float: right;
  margin-left: 10px;
}
%widget-item-preview-button {
  @include mob-button($clr-grey-dark);
  display: inline-block;
}

@mixin widget-item-preview() {
  @extend %widget-item-preview-container;
  .tag { @extend %widget-item-preview-tag; }
  .title { @extend %widget-item-preview-title; }
  .subtitle { @extend %widget-item-preview-subtitle; }
  .body { @extend %widget-item-preview-body; }
  .price { @extend %widget-item-preview-price; }
  .button { @extend %widget-item-preview-button; }
  .image { @extend %widget-item-preview-image; }
}

div.widget-item-preview,
div.widgetset-item-preview div.node-html-block .col {
  @include widget-item-preview;
}

div.widgetset-item-preview div.node-html-block {
  @include widgetset-settings();
}


/* topdoc
  name: Widget / Region preview
  markup:
    <div class="widget-region-preview">
      <div class="icon"><img data-src="holder.js/46x40/#1daa45:#fff"></div>
      <div class="title">Me non paenitet nullum festiviorem.</div>
      <div class="body">Hi omnes lingua, institutis, legibus inter se differunt. Mercedem aut nummos unde unde extricat, amaras. Morbi fringilla convallis sapien, id pulvinar odio volutpat. Morbi odio eros, volutpat ut pharetra vitae, lobortis sed nibh. Quisque placerat facilisis egestas cillum dolore.</div>
      <div class="center">
        <div class="button mob-green">En savoir plus</div>
      </div>
    </div>
*/
%widget-region-preview-container {
  background-color: $clr-grey-light;
  padding: 24px 20px;
  color: $clr-grey-dark;
  border-radius: $radius-border-medium;
}
%widget-region-preview-icon {
  float: left;
  margin-right: 0.5em;
}
%widget-region-preview-title {
  @include type-heading-fat();
  margin-top: 0.25em;
  margin-left: 55px;
}
%widget-region-preview-body {
  line-height: 1.25;
  margin: 1em 0;
}
%widget-region-preview-button {
  @include mob-button($clr-green, $clr-white);
  font-weight: 400;
}
.widget-region-preview,
div.widgetset-region-preview div.node-html-block .col {
  @extend %widget-region-preview-container;
  .icon { @extend %widget-region-preview-icon; }
  .title { @extend %widget-region-preview-title; }
  .body { @extend %widget-region-preview-body;}
  .button { @extend %widget-region-preview-button; }
}
div.widgetset-region-preview div.node-html-block {
  @include widgetset-settings();
}

/* topdoc
  name: Widget / Video preview
  modifiers:
    :hover: Hover state
  markup:
    <a class="widget-video-preview">
      <img class="image" data-src="holder.js/200x133/grey">
    </a>
*/
.widget-video-preview {
  position: relative;
  display: block;
  &:after {
    $_size: 38px;
    content: '▶';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: $_size;
    height: $_size;
    margin-left: -($_size/2);
    margin-top: -($_size/2);
    background-color: $clr-green;
    border-radius: ($_size/2);
    line-height: 41px;
    color: #fff;
    text-align: center;
    font-size: 20px;
    transition: all 0.1s ease-in;
    padding-left: 3px;
  }
  &:hover:after {
    background-color: rgba(255, 255, 255, 0);
    color: $clr-grey-dark;
  }
  .image {
    border-radius: $radius-border-medium;
  }
}



.mob-size-sm {
  font-size: 50%;
}

.mob-table {
  display: table;
}
.mob-tablecell {
  display: table-cell;
  vertical-align: bottom;
}

.center {
  text-align: center;
}




/* topdoc
  name: Widget / Article preview
  markup:
    <div class="widget-article-preview">
      <div class="image"><img data-src="holder.js/100%x140/grey"></div>
      <div class="title">Apple NEW</div>
      <div class="body">Curabitur blandit tempus porttitor vivamus</div>
      <div class="more">En savoir plus</div>
    </div>

    <div class="widget-article-preview mob-brown">
      <div class="image"><img data-src="holder.js/100%x140/grey"></div>
      <div class="title">Apple NEW</div>
      <div class="body">Curabitur blandit tempus porttitor vivamus</div>
      <div class="more">En savoir plus</div>
    </div>
*/
%widget-article-preview-container {
  background-color: #ffffff;
  border-radius: $radius-border-medium;
  font: 400 16px/1.25 $font-body;
  color: $clr-grey;
  margin-bottom: 30px;
}
%widget-article-preview-image {
  img {
    border-radius: $radius-border-medium $radius-border-medium 0 0;
    min-width: 100%;
  }
}
%widget-article-preview-title {
  font: 500 20px/1.5 $font-heading;
  color: $clr-grey;
  margin-bottom: 0.5ex;
  padding: 0 10px;
}
%widget-article-preview-body {
  padding: 0 10px 0 10px;
  p {
    margin-bottom: 0;
  }
}
%widget-article-preview-more {
  color: $clr-green;
  font: 700 16px/2 $font-body;
  padding: 0 10px 1em 10px;
  &:after {
    content: ' ›';
  }
}

@mixin widget-article-preview() {
  @extend %widget-article-preview-container;
  .image { @extend %widget-article-preview-image; }
  .title { @extend %widget-article-preview-title; }
  .body  { @extend %widget-article-preview-body; }
  .more  { @extend %widget-article-preview-more; }
}
.widget-article-preview,
div.widgetset-article-preview div.node-html-block .col {
  @include widget-article-preview;
}

.widget-article-preview.mob-brown {
  background-color:  #f8f7f4;
}
.widget-article-preview.mob-green {
  background-color:  #1aa43f;
}





/* topdoc
  name: Widget / Features
  markup:
    <div class="widget-feature">
      <div class="image"><img data-src="holder.js/65x75/#1daa45:#fff" alt="Placeholder"></div>
      <div class="body">Ambitioni dedisse <br>scripsisse iudicaretur.</div>
    </div>
*/
%widget-feature-image {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}

%widget-feature-body {
  font: 500 20px/1.2 $font-heading;
  color: #c2c2c4;
  display: inline-block;
  vertical-align: middle;
  word-wrap: break-word;
  max-width: 75%;
}

@mixin widget-feature() {
  .image { @extend %widget-feature-image; }
  .body { @extend %widget-feature-body; }
}
.widget-feature {
  @include widget-feature();
}




/* topdoc
  name: Block / Basic
  markup:
    <div class="mob-block-basic mob-green">
      <div class="content">
        <div class="title">Apple NEW</div>
        Curabitur blandit tempus porttitor vivamus
        <div class="more">En savoir plus</div>
      </div>
    </div>
*/

@mixin mob-block($background: $clr-green, $color: $clr-white, $padding: 10px) {
  display: block;
  border-radius: $radius-border-medium;
  background: $background;
  color: $color;
  padding: $padding;
  a {
    font-weight: 700;
    color: $color;
  }
}

.mob-block-basic {
  @include mob-block();
}
.mob-block-basic.mob-green {
  @include mob-block($clr-green, $clr-white);
}



/* topdoc
  name: Block / Login
  markup:
    <div class="mob-block-login mob-green">
      <input placeholder="Username" type="text"><br>
      <input placeohlder="Password" type="password"><br>
      <button type="submit" class="mob-button mob-grey">Login</button>
      <p>Forgot <a href="#">login</a> or <a href="#">password</a>?</p>
    </div>
*/
.mob-block-login {
  @include mob-block($clr-green, $clr-white);
  padding: 20px;
  max-width: 315px;
  input {
    width: 100%;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 0;
  }
}






/** This needs some refactoring */
//[class*=mob-icon-various] {
//  padding-left: 84px;
//  height: 74px;
//  background-repeat: no-repeat;
//  background-position-x: 10px;
//  display:table-cell;
//  vertical-align:middle;
//  /*  Mixin shit here... */
//  font-family: $font-heading;
//  font-weight: bold;
//  font-size: 16px;
//}
//
//.mob-icon-various-benefits-like {background-image: url('../assets/icons/benefits-like.png');}
//.mob-icon-various-benefits-options {background-image: url('../assets/icons/benefits-options.png');}
//.mob-icon-various-benefits-time {background-image: url('../assets/icons/benefits-time.png');}
//.mob-icon-various-clientzone-demo {background-image: url('../assets/icons/clientzone-demo.png');}
//.mob-icon-various-clientzone-faq {background-image: url('../assets/icons/clientzone-faq.png');}
//.mob-icon-various-clientzone-help {background-image: url('../assets/icons/clientzone-help.png');}
//.mob-icon-various-mobile-offers {background-image: url('../assets/icons/mobile-offers.png');}
//.mob-icon-various-devices {background-image: url('../assets/icons/devices.png');}
//.mob-icon-various-tutorials {background-image: url('../assets/icons/tutorials.png');}
//
//[class*=mob-icon-small] {
//  padding-left: 56px;
//  height: 40px;
//  background-repeat: no-repeat;
//  display:table-cell;
//  vertical-align:middle;
//  /*  Mixin shit here... */
//  font-family: $font-heading;
//  font-weight: bold;
//  font-size: 16px;
//}
//.mob-icon-small-contact {background-image: url('../assets/icons/contact.png');}
//.mob-icon-small-forums {background-image: url('../assets/icons/forums.png');}
//.mob-icon-small-online {background-image: url('../assets/icons/online.png');}
