
.panel-dns-2col {
  /*  overflow: hidden;  */
}

.panel-dns-2col .panel-col-first {
  width: 100%;
}
* html .panel-dns-2col .panel-col-first {
  width: 99.9%;
}

.panel-dns-2col .panel-col-first .inside {
  /*margin: 0 .5em 1em 0;*/
}

.panel-dns-2col .panel-col-last {
  width: 100%;
  /*background: #f7f7f7;*/
  padding: 0 21px;
/*  -webkit-box-shadow: -1px 4px 7px rgba(0,0,0,.19);
  -moz-box-shadow: -1px 4px 7px rgba(0,0,0,.19);
  box-shadow: -1px 4px 7px rgba(0,0,0,.19);*/
}
* html .panel-dns-2col .panel-col-last {
  width: 99.9%;
}

.panel-dns-2col .panel-col-last .inside {
  /*margin: 0 0 1em .5em;*/
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-dns-2col .panel-separator {
  /*margin: 0 0 1em 0;*/
}

@media screen and (min-width: 980px) {
  .panel-dns-2col .panel-col-first {
    float: left;
    width: 75.3%; /* 737px / 980px | left content / full width */
  }
  * html .panel-dns-2col .panel-col-first {
    width: 74.9%;
  }
  .panel-dns-2col .panel-col-last {
    float: left;
    width: 24.7%;
    padding: 0 21px 20px;
    position: relative;
    margin-top: 0;
  }
  * html .panel-dns-2col .panel-col-last {
    width: 24.9%;
  }
}