@charset "utf-8";
@import "../vendor/normalize/index";
@import "../vendor/dcf/dcf";
@import "../sass/variables";
@import "../sass/mixins";
@import "../sass/fonts";
@import "../sass/bootstrap";
@import "../sass/typography";
@import "../sass/elements";
@import "../sass/forms";
@import "../sass/icons";
@import "../sass/widgets";
@import "../sass/sticker";

.component [class*=widget] {
  float: left;
  margin-right: 20px;
}
// test
